@page
@model IndexModel
@{
    ViewData["Title"] = "Employee Unlock Door";
}

<div class="text-center">
    <h1 class="display-4">Unlock door</h1>
    <p>Use Microsoft Entra Veified ID to get unlock the office door</p>
</div>
