@page
@using EmployeeUnlockDoor.Pages.Shared
@model EmployeeUnlockDoor.Pages.UnlockDoor.UnlockedModel
@{
    ViewData["Title"] = "Employee Unlocked Door";
    var nonce = HttpContext.GetNonce();
}

<div style="text-align: center;">

    <div class="card">
        <div class="card-content">
            <span class="card-title">Welcome to our offices</span>
        </div>
    </div>
</div>

<div>@Model.NameSurnameMessage</div>
