@page
@model IndexModel
@{
    ViewData["Title"] = "Verified ID Unlock door";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    Get unlock door credentials and add to wallet.
</div>

<div class="text-center">
    <img src="~/images/user-solid.svg" width="200" alt="Unlock door" style="padding: 5px" />
</div>

