@page
@model IndexModel
@{
    ViewData["Title"] = "Verified ID Door unlocker";
}

<div class="text-center">
    <h1 class="display-4"></h1>
    Get door unlocking credentials and add to wallet.
</div>

<div class="text-center">
    <img src="~/android-chrome-192x192.png" alt="Unlock door" style="padding: 5px" />
</div>

