@page
@model IssueUnlockDoor.Pages.UnlockDoorCredentialsModel
@{
    ViewData["Title"] = "Verified ID Unlock Door";
    var nonce = this.HttpContext.GetNonce();
}
<br />

<h4>Scan the QR Code, and add the door credentials to your wallet</h4>

<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            <button type="button" id="sign-in" class="btn btn-primary">GET CREDENTIAL</button>
            <div id="qrText"  style="display:none;">
            </div>

            <a id="deeplink" style="display: none;">Tap to open Authenticator on mobile</a>

            <div id="qrcode"></div>
            <br>

            <div id="pinCodeText" style="display: none;text-align: left"/>
            <br>

        </div>

        <div id="message-wrapper"  style="display: none">
            <i class="fas fa-user-check green icon-text-large "></i>
            <div id="message"/>
            <br />
            <div id="payload"/>
        </div>

    </div>
</div>

@section scripts {
    <script src="qrcode.min.js" nonce="@nonce"></script>
    <script src="issuer.js" nonce="@nonce"></script>
}
